<nav>
    <div class="nav-wrapper #e0f2f1 teal lighten-5" >
      <ul id="nav-mobile" class="right hide-on-med-and-down" >
        <li><a href="home" class="black-text">Home</a></li>
        <li><a href="transaction" class="black-text">Transfer</a></li>
        <li><a href="profile" class="black-text">Profile</a></li>
        <li><a href="contact" class="black-text">Contact</a></li>
        <li><a href="login" (click) = "logOff()" class="black-text">Log off</a></li>
      </ul>
    </div>
  </nav>